extends ../base

block content
    include ../partials/video
    include ../partials/video-info
    include ../partials/comment
block scripts
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/like.js")
    if loggedIn
        script(src="/static/js/commentSection.js") 