@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

@import "./config/mixins";
@import "./config/variables";
@import "./config/reset";

@import "./components/header.scss";
@import "./components/forms.scss";
@import "./components/social.scss";
@import "./components/video.scss";
@import "./components/shared.scss";
@import "./components/footer.scss";

@import "./screens/watch.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: $deep;
}

main {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}
