@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

@import "./config/mixins";
@import "./config/variables";
@import "./config/reset";

@import "./components/header.scss";
@import "./components/forms.scss";
@import "./components/social.scss";
@import "./components/video.scss";
@import "./components/shared.scss";
@import "./components/footer.scss";
@import "./components/video-player.scss";
@import "./components/comment-section.scss";

@import "./screens/watch.scss";
@import "./screens/404.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: $deep;
}

main {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}

i {
  text-rendering: optimizeLegibility;
}

@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.message {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 10000px;
  text-align: center;
  animation: goAway 0.5s ease-in-out forwards;
  animation-delay: 5s;
  &.error {
    background-color: tomato;
    color: white;
  }
}
