$font-family-kor: 'Noto Sans KR', sans-serif;
$font-family-eng: 'Playfair Display';

$font-size-h1: 4.8;
$font-size-h2: 4;
$font-size-h3: 2.8;
$font-size-h4: 2.4;
$font-size-h5: 2;
$font-size-h6: 1.6;
$font-size-large: 1.8;
$font-size-normal: 1.6;
$font-size-small: 1.4;
$font-size-xsmall: 1.3;
