include mixins/message

doctype html 
html(lang="ko")
    head
        include partials/meta
        include partials/meta-og
        //- 모바일 구현 후 모바일 앱 미리보기 설정 meta 태그 (al:ios, al:android) 추가
        title #{pageTitle} | MarsTube
        link(rel="stylesheet", href="/static/css/styles.css")
        include partials/icon
        block head
    body
        if messages.error
            +message("error", messages.error)
        if messages.info
            +message("info", messages.info)
        if messages.success
            +message("sucess", messages.success)
        include partials/header
        main 
            block content 
        include partials/footer
        script(src="/static/js/hiddenMenu.js")
        script(src="/static/js/main.js") 
        script(src="https://kit.fontawesome.com/bc59b8bbb2.js" crossorigin="anonymous")
        block scripts