doctype html 
html(lang="ko")
    head
        include partials/meta
        include partials/meta-og
        //- 모바일 구현 후 모바일 앱 미리보기 설정 meta 태그 (al:ios, al:android) 추가
        title #{pageTitle} | MarsTube
        link(rel="stylesheet", href="/static/css/styles.css")
        link(rel="stylesheet" href="https://kit.fontawesome.com/bc59b8bbb2.css" crossorigin="anonymous")
        include partials/icon
        block head
    body
        include partials/header
        main 
            block content 
        include partials/footer
        script(src="/static/js/main.js")
        block scripts