/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/styles.scss ***!
  \**********************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap);
/*!**************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/styles.scss (1) ***!
  \**************************************************************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: white;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 1;
}
.header .header__home {
  display: flex;
  align-items: center;
}
.header .header__home .header__home--img {
  height: 50px;
  width: 50px;
}
.header .header__home .header__home--text {
  font-size: 30px;
  font-weight: bold;
}
.header .header__search {
  display: flex;
  padding: 0px 70px;
  width: 100%;
  max-width: 650px;
}
.header .header__search .header__search--input {
  height: 40px;
  width: 90%;
  padding: 0px 20px;
  outline-color: rgb(194, 125, 70);
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px 0px 0px 30px;
}
.header .header__search .header__search--input::placeholder {
  font-size: 15px;
}
.header .header__search .header__search--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 65px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 0px 30px 30px 0px;
  cursor: pointer;
}
.header .header__search .header__search--btn:hover {
  opacity: 0.8;
}
.header .header__search .header__search--btn i {
  font-weight: bold;
}
.header .header__sign ul {
  display: flex;
}
.header .header__sign ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  width: 100px;
  font-weight: bold;
  background-color: #573f31;
  color: white;
  margin-left: 10px;
}
.header .header__sign ul li a:hover {
  opacity: 0.8;
}
.header .header__sign ul li:first-child a {
  background-color: rgb(194, 125, 70);
}
.header .header__avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.header #hidden-menu {
  width: 200px;
  background-color: white;
  position: absolute;
  right: 10px;
  top: 80px;
  border-radius: 20px;
  box-shadow: 1px 2px 2px 1px gainsboro;
  z-index: 2;
}
.header #hidden-menu ul li {
  margin: 10px 0px;
  width: 100%;
}
.header #hidden-menu ul li a {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}
.header #hidden-menu ul li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.header #hidden-menu ul li a div {
  padding: 10px;
}
.header #hidden-menu ul li a div i {
  margin-right: 20px;
}
.header #hidden-menu ul li a div span {
  font-weight: bold;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container #actionBtn {
  margin-top: 20px;
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  background-color: white;
  cursor: pointer;
}
.form-container #actionBtn:hover {
  background-color: rgb(194, 125, 70);
  color: white;
}
.form-container img {
  border-radius: 50%;
}
.form-container form {
  max-width: 650px;
}
.form-container form:not(.header__search) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.form-container form:not(.header__search) label {
  font-size: 30px;
  font-weight: bold;
}
.form-container form:not(.header__search) input {
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  width: 100%;
}
.form-container form:not(.header__search) input[type=file]::file-selector-button {
  width: 150px;
  height: 30px;
  background: #fff;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 10px;
  cursor: pointer;
}
.form-container form:not(.header__search) input[type=file]::file-selector-button:hover {
  background: rgb(194, 125, 70);
  color: #fff;
}
.form-container form:not(.header__search) input[type=submit] {
  width: 100%;
  cursor: pointer;
  background-color: rgb(194, 125, 70);
  color: white;
}
.form-container form:not(.header__search) input[type=submit]:hover {
  opacity: 0.8;
}
.form-container form:not(.header__search) a:hover {
  text-decoration: underline;
}

.social-container {
  margin-top: 10px;
}
.social-container .social-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 260px;
  font-size: 16px;
}
.social-container .social-signin i {
  margin-right: 10px;
}

.video-mixin .video-mixin__thumb {
  border-radius: 7px;
  width: 100%;
}
@media screen and (min-width: 500px) and (max-width: 690px) {
  .video-mixin .video-mixin__thumb {
    height: 300px;
    width: 100%;
  }
}
@media screen and (min-width: 501px) and (max-width: 1120px) {
  .video-mixin .video-mixin__thumb {
    height: 200px;
    width: 80%;
  }
}
@media screen and (min-width: 1121px) {
  .video-mixin .video-mixin__thumb {
    height: 200px;
    width: 100%;
  }
}
.video-mixin .video-mixin__data {
  padding: 0px 15px;
}
.video-mixin .video-mixin__data .video-mixin__title {
  font-size: 18px;
  display: block;
  margin-top: 10px;
}
.video-mixin .video-mixin__data .video-mixin__meta {
  margin-top: 5px;
  font-size: 12px;
}

.empty__message {
  margin-bottom: 50px;
  font-size: 18px;
}

.video-grid {
  display: grid;
  gap: 50px;
}
@media screen and (min-width: 500px) and (max-width: 690px) {
  .video-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media screen and (min-width: 501px) and (max-width: 1120px) {
  .video-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (min-width: 1121px) {
  .video-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

footer {
  text-align: center;
  font-size: 12px;
  opacity: 0.8;
  margin-top: 50px;
}

#videoContainer {
  width: 100%;
  position: relative;
}
#videoContainer video {
  width: 100%;
  cursor: pointer;
}
#videoContainer .videoControls {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  width: 95%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr auto;
  gap: 10px;
  justify-content: space-between;
  background-color: #0f1117;
  color: white;
  padding: 10px;
  left: 0;
  box-sizing: border-box;
}
#videoContainer .videoControls.showing {
  opacity: 1;
}
#videoContainer .videoControls .videoControls__play {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#videoContainer .videoControls .videoControls__play .videoControls__playBtn {
  cursor: pointer;
  margin: 0px 15px;
}
#videoContainer .videoControls .videoControls__play .videoControls__time {
  cursor: pointer;
  font-size: 12px;
}
#videoContainer .videoControls .videoControls__volume {
  display: flex;
  align-items: center;
  cursor: pointer;
}
#videoContainer .videoControls .videoControls__volume span {
  margin-left: 10px;
}
#videoContainer .videoControls .videoControls__volume span i {
  cursor: pointer;
  font-size: 20px;
}

.fa-expand,
#volume,
#timeline {
  cursor: pointer;
}

.video__add-comments .video__comment-form {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.video__add-comments .video__comment-form textarea {
  margin-top: 20px;
  border: none;
  border-radius: 10px 0px 0px 10px;
  height: 50px;
  width: 80%;
}
.video__add-comments .video__comment-form button {
  background-color: rgb(194, 125, 70);
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  margin: 20px 0px 0px 5px;
  height: 50px;
  width: 100px;
  font-weight: bold;
  font-size: 15px;
  color: white;
}
.video__add-comments .video__comment-form button:hover {
  opacity: 0.8;
}

.video__comments ul .video__comment {
  margin-top: 20px;
  padding-right: 40px;
}
.video__comments ul .video__comment .video__comment--container {
  display: flex;
  justify-content: space-between;
}
.video__comments ul .video__comment .video__comment--container #delete__comment,
.video__comments ul .video__comment .video__comment--container i {
  cursor: pointer;
}

.watch .watch__info {
  margin-top: 20px;
  padding: 10px;
}
.watch .watch__title {
  font-weight: bold;
  color: #573f31;
  font-size: 30px;
}
.watch .watch__author {
  display: flex;
  align-items: center;
}
.watch .watch__author .watch__author--img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 10px 0px;
}
.watch .watch__author a {
  margin-left: 10px;
}
.watch .watch__meta {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgba(194, 125, 70, 0.8);
  cursor: pointer;
}
.watch .watch__meta:hover {
  opacity: 0.6;
}
.watch .watch__meta .watch__meta--info {
  font-weight: bold;
  margin: 10px 0px;
}
.watch .watch__meta .watch__meta--info small {
  margin-right: 10px;
}
.watch .watch__meta .watch__meat--description {
  color: white;
}
.watch .watch__options {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.watch .watch__options a {
  margin: 10px 0px;
}
.watch .watch__options a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #573f31;
}

main {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}

i {
  text-rendering: optimizeLegibility;
}

@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}
.message {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 10000px;
  text-align: center;
  animation: goAway 0.5s ease-in-out forwards;
  animation-delay: 5s;
}
.message.error {
  background-color: tomato;
  color: white;
}
