/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/styles.scss ***!
  \**********************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap);
/*!**************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/styles.scss (1) ***!
  \**************************************************************************************************************************/
header {
  display: flex;
}

body {
  font-family: "Roboto", sans-serif;
}

#hidden-menu {
  display: none;
}
