extends ../base

block content
    if errorMessage
        span=errorMessage
    div.form-container
        form(method="post")
            input(type="password", name="oldPassword", placeholder="Old Password")
            input(type="password", name="newPassword", placeholder="New Password")
            input(type="password", name="confirmNewPassword", placeholder="New Password Confirmation")
            input(type="submit", value="Change Password")